.carrot{color: #000000;
font-family: arial;
background-color: #FEA500; 
}
.lemonPie{color: #000000;
    font-family: arial;
    background-color: #FEF400; 
    }
p{Color: #444444;
    font-family: arial;
}
li{
    color: #444444;
    font-family: arial;
    ; 
}
h2{
    Color: #000000;
    font-family: 'Times New Roman';
    font-style: italic;
    background-color: #EAEAEA;
}
h3{
    Color: #000000;
    font-family: 'Times New Roman';
    font-style: italic;
}